
h1 {
    color: #F9F7F3;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Roboto Mono', monospace;
}

h2 {
  color: black;
}
h3  {
  color: #e73c7e;
  font-size: 16px;
}

img {
  height: 500px;
  width: 500px;
  background-color: #C7EFCF;
  border-radius: 50%;
}

a:hover {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.8);
    color: #fff;
    border-radius: 16px;
    text-decoration: none;
}

p {
  color: black;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

ul {
  list-style-type: none;
  margin-top: 24px;
}

li {
  display: inline;
  font-size: 16px;
  padding: 24px;
}

a {
  text-decoration: none;
  color: #F9F7F3;
}

.btn-audrey{
  background-color: #e73c7e;
  color: black;
  margin-top: 16px;
  border-radius: 16px;
  font-weight: bold;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  font-weight: lighter;
  padding: 16px;
  text-align: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.column {
  float: left;
  width: 24%;
  background: #F9F7F3;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 8px 8px 8px rgba(0,0,0,0.1);
  margin: 32px auto 32px;
  border: 2px solid black;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
